# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/
.eggs/

# Virtualenv
venv/
.venv/
env/

# Django
*.log
local_settings.py
db.sqlite3
staticfiles/
media/

# Secrets
.env
.env.*
!.env.example

# Testing
.coverage
htmlcov/
.pytest_cache/
